@import "tailwindcss";

body {
  background: linear-gradient(
    to bottom,
    #F8FAFC,
    #F1F5F9
  );
}

html, body {
  overflow-x: hidden;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}
nav {
    scrollbar-width: none;
}